#board {
    background-color: white;
    border: 1px solid blue;
    width: 315px;
    height: 455px;
    margin: 10px;
    padding: 10px;
}
div {
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.card {
    background-color: #ffffff;
    border: 1px solid #000000;
    width: 40px;
    height: 60px;
    margin: 5px;
    display: inline-block;
}
.card_img {
    -webkit-user-drag: none;
    width: inherit;
    height: inherit;
}