@font-face {
    font-family: 'GaramYeonGGot';
    src: url('../font/나눔손글씨 가람연꽃.ttf');
    
}
body {
    margin: 0px;
    background-image: url("../images/books_on_the_desk.jpg");
    background-size: 100%;
}
.container{
    background-color: whitesmoke;
    background-color: rgba( 239, 239, 239, 0.6 );
    border: 0.5px solid black;
    position: relative;
    top: 100px;
    width: 70%;
    height: 60%;
    padding: 10px 150px 10px 150px;
    margin-bottom: 100px;
}
#introdunctionImg{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.bookTitleDiv{
    position: relative;
    top: 2px;
    text-align: center;
}
table {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    border: 1px solid #806840;
    border-collapse: collapse;
}
td {
    border: 1px solid #806840;
    padding: 1.3em;
}
span{
    font-weight: bold;
}
p{
    font-size: x-large;
    margin: 0px;
}
p, h1{
    font-family: 'GaramYeonGGot', bold;
    display: inline-block; 

    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}