body {
    margin: 0px;
    background-image: url("../images/multiHall_start.jpg");
    background-size: 100%;
    text-align: center;
}

.container{
    background-color: whitesmoke;
    background-color: rgba( 239, 239, 239, 0.9 );
    border: 1px solid black;
    position: relative;
    top: 100px;
    width: 70%;
    height: 80%;
    padding: 100px 30px 100px 50px;
}