html, body {
    background-color: #F4F1EC;
    height: 100%;
}
#main {
    height: 100%;
}
#game {
    align-items: center;
    justify-items: center;
    height: 100%;
}
#borad-space {
    position: relative;
    padding: 2% 2%;
    background-color: white;
    border-radius: 3%;
}
#borad-space:before {
    content: "";
    display: block;
    padding-top: 90%;
}
#board {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    align-content: center;
    width: 90%;
}
div {
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.card {
    border: 0px solid #000000;
    padding: 1.5%;
    align-items: center;
    justify-items: center;
}
.card_img {
    width: 100%;
    border: 0.1px solid #555555;
    box-shadow: 4px 4px 4px #bbbbbb;
    border-radius: 5%;
    -webkit-user-drag: none;
}
.chosen_card {
    border-color: #ff0000;
}