[submodule "Final Project/game6"]
	path = Final Project/game6
	url = https://github.com/VertexToEdge/JS-Flappy-Bird
[submodule "Final Project/main/game6"]
	path = Final Project/main/game6
	url = https://github.com/VertexToEdge/JS-Flappy-Bird
