body {
    margin: 0px;
    background-image: url("https://images.unsplash.com/photo-1534289907116-888fe70c4806?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    
}
.container{
    background-color: whitesmoke;
    background-color: rgba( 239, 239, 239, 0.9 );
    border: 1px solid black;
    position: relative;
    top: 100px;
    width: 70%;
    height: 80%;
    padding: 10px 150px 20px 150px;
}
.bookTitleDiv{
    position: relative;
    top: 2px;
    text-align: center;
}
table {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
    border: 1px solid #806840;
    border-collapse: collapse;
}
td {
    border: 1px solid #806840;
    padding: 1.3em;
}
span{
    font-weight: bold;
}
p{
    font-size: medium;
    margin: 0px;
}
p, h1{
    display: inline-block; 

    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}