body {
    background: #f1d1ff;
    margin: 0;
    padding: 0% 0%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  }
  
  h1 {
    font-size: 50px;
  }
  
  ul{
    margin: 0% 0% 30% 0%;
    padding: 0px;
    list-style: none;
  }
  
  img{
    min-width: 500px;
    min-height: auto;
    max-width: 1000px;
  }
  
  .gbox {
    margin: 0% 10% 0% 10%;
    padding: 0% 0%;
    min-height: 750px;
    height: 50vh;
    background-color: white;
    border: 5px solid purple;
    border-radius: 30px;
  }
  
  #score {
    font-size: 50px;
    margin:0%;
  }
  
  .result p, .start p, .correct p{
    font-size: 30px;
  }
  
  li, #next, .start_btn{
    width: 30vw;
    max-width: 500px;
    margin: 20px 20px;
    padding: 0px;
    display: inline-block;
    border: 5px solid #f1d1ff;
    border-radius: 10px;
    background: #f1d1ff;
    font-size: 20px;
    cursor:pointer;
  }
  
  .start, .problem, .correct, .result{
    margin: 0;
    padding: 0;
  }
  
