body {
  background: #f1d1ff;
  margin: 0;
  padding: 10% 0%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  font-weight: 600;
}

ul{
  padding: 0px;
  list-style: none;
}

.gbox {
  margin: 0% 10%;
  height: 100%;
  background-color: white;
  border: 5px solid purple;
  border-radius: 30px;
}

.result p, .start p{
  font-size: 30px;
}

li, #next, .start_btn{
  width: 25%;
  margin: 5px 10px;
  display: inline-block;
  border: 5px solid #f1d1ff;
  border-radius: 10px;
  background: #f1d1ff;
  font-size: 20px;
  cursor:pointer;
}

.start, .problem, .correct, .result{
  margin: 0;
  padding: 0;
}
