body {
  background: linear-gradient(to right, #bfe4fc,#c8f0d8);
  margin: 0;
  padding: 10px;
  width:100%;
  height:100%;
  position:relative;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}

div {
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.box {
  display: none;
  position: relative;
  margin:0 auto;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color:white;
  border-radius: 20px;
  width: 70%; /*화면 비율을 일정하게 하고 싶다*/
}

.under_box{
  position: relative;
  margin:0 auto;
  margin-top: 30px;
  border-radius: 20px;
  width: 70%; /*화면 비율을 일정하게 하고 싶다*/
}

.inbox{
  position: relative;
  margin:0 auto;
  margin-top: 30px;
  border-radius: 20px;
  width: 100%; /*화면 비율을 일정하게 하고 싶다*/
}

.str_btn, .nxt_btn{
  width:150px;
  background-color: #f0594e;
  color:#ffffff;
  padding: 20px ;
  text-align: center;
  display: inline-block;
  font-size: 26px;
  cursor: pointer;
  border-radius: 40px;
  font-weight: 100;
  -webkit-text-stroke: 1px #ffffff;
}

.home_btn{
  width:150px;
  margin-left: 20px;
  background-color: #3ca8da;
  color:#ffffff;
  padding: 20px ;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  border-radius: 40px;
  font-weight: 100;
  -webkit-text-stroke: 1px #ffffff;
}

#rule {
  align-self: center;
  justify-items: center;
  background-size: 100px 2px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 1.5em 5em;
  border: 2px solid #96aab6;
  background-color: #f5f7f8;
  width: fit-content;
  border-radius: 1em;
  font-size: 25px;
  font-weight: 100;
  line-height:160%;
  color: #393938;
  -webkit-text-stroke: 1.5px #393938;
}

#rule-label{
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: -35px;
  padding:  0.5em 0.3em 1em 0.3em;
  background-color: #96aab6;
  align-self: center;
  justify-items: center;
  width: 180px;
  color: #ffffff;
  border-radius: 0.5em;
  font-size: 23px;
  font-weight: 100;
  -webkit-text-stroke: 1px #ffffff;
  letter-spacing: 5px;
  word-spacing: -1px;
}

ul{
  padding: 0px;
  list-style: none;
}

li {
  margin: 10px 10px;
  width: 20%;
  padding: 1px 0px;
  display: inline-block;
  cursor:pointer;
  border-radius: 15px;
  background: linear-gradient(to right, #e2f4ff,#e1f0e7);
  font-size: large;
}
li:hover{
  margin: 10px 10px;
  width: 20%;
  padding: 1px 0px;
  display: inline-block;
  cursor:pointer;
  border-radius: 15px;
  background: linear-gradient(to right, #f8e0da,#fde5fd);
  font-size: large;
}

.modal {
  display: none;
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
}

.modal .modal_content {
  width:1000px;
  margin:50px auto;
  padding:15px 5px;
  background:rgb(255, 255, 255);
  border:2px solid #666;
  border-radius: 30px;
}

.modal .modal_layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.5);
  z-index:-1;
}   

#o{
  color: green;
  font-size: 30px;
  font-weight: 500;
  -webkit-text-stroke: 2px green;
}

#x{
  color: rgb(179, 52, 52);
  font-size: 30px;
  font-weight: 500;
  -webkit-text-stroke: 2px rgb(179, 52, 52);
}
#game-name {
  color: #393938;
  font-weight: 300;
  -webkit-text-stroke: 3px #393938;
  font-size: 50px;
  letter-spacing: 3px;
}

#name {
  border-radius: 30px 30px 0 30px ; 
  border: 7px solid #a6ddbb; 
  padding: 0.3em; 

  font-weight: 700;
  font-size: 40px;
  -webkit-text-stroke: 4px #393938;
  color: #393938;

  background-color: #ffffff;

}

#q {
  margin-bottom: 20px;
  color: #393938;
  font-weight: 500;
  font-size: 32px;
  -webkit-text-stroke: 2px #393938;
  padding: 0 0 0 0.2em;
  letter-spacing: 2px;
}

#score{
  width:200px;
  background-color: #ffffff;
  padding: 15px ;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  float: right;
}

#myscore{
  color: #393938;
  font-weight: 300;
  -webkit-text-stroke: 2px #393938;
  font-size: 30px;
  letter-spacing: 3px;
}

#answers{
  color: #393938;
  font-weight: 700;
}

#hint{
  width: 25%;
  margin-left: -50px;
  margin-bottom: -50px;
}