.card {
    border: 0px solid #000000;
    padding: 1.5%;
    align-items: center;
    justify-items: center;
}
.card_img {
    position: relative;
    width: 100%;
    border: 2px solid #888888;
    box-shadow: 4px 4px 4px #bbbbbb;
    border-radius: 5%;
    -webkit-user-drag: none;
}
.chosen_card {
    border-color: #ff0000;
}
.logo-card {
    border: 0px solid #000000;
    padding: 0%;
    align-items: center;
    justify-items: center;
}
#logo-card1 {
    z-index: 3;
    transform: rotate(-12deg);
    position: relative;
    left: 10px;
}
#logo-card2 {
    z-index: 4;
    transform: rotate(10deg);
    margin-top: 10px;
    position: relative;
    left: 5px;
}
#logo-card3 {
    z-index: 3;
    transform: rotate(-2deg);
    position: relative;
    left: -5px;
}
#logo-card4 {
    z-index: 4;
    transform: rotate(5deg);
    margin-top: 12px;
    position: relative;
    left: -10px;
}
.logo-card-img {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    border: 2px solid #555555;
    border-radius: 5%;
    -webkit-user-drag: none;   
}