button {
	
}
#start-button-main {
    padding: 5px 20px;
    margin-top: 30px;
    border: 0px solid #000000;
    border-radius: 3em;
    background-color: #FAC76B;
    font-weight: bold;
}
#start-button, #pause-button, #resume-button, #sound-on-button, #sound-off-button{	
	width: 110px;
	height: 45px;
	border-width: 0px;
	border-radius: 1em;
	font-size: 18px;
 	background: #fde199;
 	margin :5% auto;
 	box-shadow: 0 3px 2px #777777;
}
#start-button:hover, #pause-button:hover, #resume-button:hover, #sound-on-button:hover, #sound-off-button:hover{
	background: #fcd574;
	margin :5% auto;
}
#pause-button {
    display: inline;
}
#resume-button {
    display: none;
}
#sound-on-button {
	display: inline;
}
#sound-off-button {
	display: none;
}
#sound_on_img{
	width: 45px;
	height: 25px;
}
#sound_off_img{
	width: 30px;
	height: 30px;
}
#btn-space{
    padding-left: 8%; 
    padding-right: 2%;
    flex-wrap: wrap;
    display: flex;
}
